.icon {
	width: 1em;
	height: 1em;
	fill: #000;
}

body {
	margin: 0;

	font-family: 'PT Serif', serif;
	font-weight: 400;
	
	background: url('http://i.imgur.com/r7nXiMY.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

header {
	z-index: 5;
	position: fixed;
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;

	background-color: #fff;
	color: hsl(0, 0, 50%);
	.brand {
		margin-left: 12px;
		font-size: 1.5em;
	}
	nav {
		margin-left: 50px;
		display: inline;
		a {
			transition: border .2s ease;
			margin-right: 10px;
			font-size: 1.1em;
			padding-bottom: 8px;
			border-bottom: 3px solid rgba(0,145,255,0);
			&:hover { border-bottom-color: rgba(0,145,255,1)}
		}
	}
	a {
		transition: color .4s ease;
		&:hover { color: hsl(0,0,0%); }
	}
}

footer {
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: hsl(0, 0, 20%);
	color: hsl(0,0,40%);
	div { margin-left: 50px; }
	.link {
		transition: color .5s ease;
		color: hsl(0,0,50%);
		&:hover { color: hsl(0, 0, 90%); }
	}
}

.head {
	width: 100%;
	height: 95vh;
	color: white;
	background: rgba(0,0,100,0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	.logo {
		top: 30vh;
		text-align: center;
		margin: 60px auto;
		h1 { 
			font-size: 60px; 
			text-align: center;
		}
		.bar { 
			border: 1px solid white; 
			width: 50px;
			margin: 14px auto;
		}
	}
	.image {
		margin: 20px auto;
		overflow: hidden;
		border-radius: 100px;

		img { 
			height: 200px; 
			filter: grayscale(90%);
		}
	}
}

.body {
	width: 100%;
	background: hsl(0, 0, 90%);
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		text-align: left; 
		font-size: 2em;
		font-weight: 700;
		color: hsl(0,0,15%);
	}
	p {

		font-size: 1.3em;
		color: hsl(0,0,10%);
	}
	.container {
		min-width: 300px;
		width: 80vw;
		max-width: 700px;
		padding-top: 75px;
		margin-bottom: 10px;
	}
	.emphasis {
		font-weight: 700;
		color: hsl(0, 0, 0%);
	}
	.subtle {
		color: hsl(0, 0, 30%);
		font-size: 0.7em;
	}
	#subjects {
		.list {
			display: inline-block;
			vertical-align: top;
			margin-left: 15px;
			margin-right: 100px;
			h3 { 
				font-size: 1.5em;
				font-weight: 700; }
			ul {
				list-style: none;
				color: hsl(0,0,30%);	
				font-size: 1.4em;
				font-weight: 700; 
				li { margin-bottom: 6px; }
			}
		}	
	}
	#flexible {
		h2 { margin-bottom: 25px;}
		.icon {
			height: 4em;
			width: 4em;

		}
		.card-container {
			// display: flex;
			// flex-direction: row;
			// align-items: center;
		}
		.card {
			margin: 10px;
			font-size: 0.8em;
			text-align: center;
			display: inline-block;
			max-width: 200px;
		}
	}
	#contact {
		h1 { 
			font-size: 3em; 
			text-align: center;
		}
		ul {
			font-size: 1.2em;
			li { margin: 10px 0; }
		}
		.icon {
			position: relative;
			top: 2px;
			margin-right: 6px;
		}
	}
}

.foot {
	width: 100%;
	padding-bottom: 50px;
	background: white;
	
}

.arrow,
.arrow::before{
  position: absolute;
  left: 50%;
}

.arrow {
  width: 30px;
  height: 30px;
	top: 90%;
  margin: -15px 0 0 -15px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  &:hover{
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-name: bounce;
	}
	&::before {
		content: '';
		width: 15px;
		height: 15px;
		top: 90%;
		margin: -22px 0 0 -10px;
		border-left: none;
		border-top: none;
		border-right: 1px #fff solid;
		border-bottom: 1px #fff solid;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-name: arrow;
	}
}

@keyframes arrow {
	0% {opacity: 1;}
	100% {opacity: 0; transform: translate(-10px, -10px);}
}

@keyframes spin {
  50% {transform: rotate(125deg);}
  75% {transform: rotate(0deg);}
}

@keyframes bounce{
	50% {top: 91%;}
}

@keyframes grow-stem {
	100% {height: 200px;}
}
  