$color-accent: #3172A3;
$clear: transparent;
$arrow-size: 35px;

// color palette http://www.colourlovers.com/palette/92095/Giant_Goldfish

$color-neutral: #E0E400;
$color-primary1: #69D3E7;
$color-primary2: #a7dbd8;
$color-accent1: #f38630;
$color-accent2: #fa6900;